<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @usuario.user %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @usuario.pass %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
